In [4]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Load libraries

from pandas.tools.plotting import scatter_matrix
import matplotlib.pyplot as plt
from sklearn import model_selection
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC

df = pd.read_csv('./Train.csv')
df_test = pd.read_csv('./Test.csv')

df
df.isnull().any()

df.isnull().sum()

Unnamed: 0                     0
Months since Last Donation     0
Number of Donations            0
Total Volume Donated (c.c.)    0
Months since First Donation    0
Made Donation in March 2007    0
dtype: int64

In [7]:
df.head()

,Unnamed: 0,Months since Last Donation,Number of Donations,Total Volume Donated (c.c.),Months since First Donation,Made Donation in March 2007,avg_vol
0,619,2,50,12500,98,1,250.0
1,664,0,13,3250,28,1,250.0
2,441,1,16,4000,35,1,250.0
3,160,2,20,5000,45,1,250.0
4,358,1,24,6000,77,0,250.0

In [6]:
df["avg_vol"] = df["Total Volume Donated (c.c.)"]/df["Number of Donations" ]

In [9]:
num_feats = ["Unnamed: 0", "Months since Last Donation", "Number of Donations", "Months since First Donation"]
x = df[num_feats]
y = df["Made Donation in March 2007"]
x.head()

,Unnamed: 0,Months since Last Donation,Number of Donations,Months since First Donation
0,619,2,50,98
1,664,0,13,28
2,441,1,16,35
3,160,2,20,45
4,358,1,24,77