In [2]:
# -*- coding: utf-8 -*-
"""
Created on Wed Jul 05 20:53:35 2017

@author: admin
"""

import pandas as pd
import numpy as np

training = pd.read_csv('C:/Users/admin/Documents/train_bt.csv')
training.head()

,Patient #,Months since Last Donation,Number of Donations,Total Volume Donated (c.c.),Months since First Donation,Made Donation in March 2007
0,619,2,50,12500,98,1
1,664,0,13,3250,28,1
2,441,1,16,4000,35,1
3,160,2,20,5000,45,1
4,358,1,24,6000,77,0

In [8]:
training["Monthly Frequency"] = training["Months since First Donation"]/training["Number of Donations" ]

In [9]:
cols = ["Patient #", "Months since Last Donation", "Number of Donations", "Months since First Donation","Monthly Frequency"]
x = training[cols]
y = training["Made Donation in March 2007"]
x.head()

,Patient #,Months since Last Donation,Number of Donations,Months since First Donation,Monthly Frequency
0,619,2,50,98,1.960000
1,664,0,13,28,2.153846
2,441,1,16,35,2.187500
3,160,2,20,45,2.250000
4,358,1,24,77,3.208333